html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  background: #f2f9ff; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

@keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

@-webkit-keyframes turnone {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes turnone {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes turntwo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); } }

@keyframes turntwo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); } }

@-webkit-keyframes turnthree {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes turnthree {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes navmobile {
  0% {
    -webkit-transform: translateX(617px);
            transform: translateX(617px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes navmobile {
  0% {
    -webkit-transform: translateX(617px);
            transform: translateX(617px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes appearance-header {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    opacity: 0.1; }
  50% {
    opacity: 0.5; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes appearance-header {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    opacity: 0.1; }
  50% {
    opacity: 0.5; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

.header {
  height: 100vh;
  background-color: #008aff;
  border-bottom-left-radius: 200px;
  position: relative; }
  .header__wrapper {
    max-width: 1146px;
    margin: 0 auto;
    overflow: hidden; }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 52px 25px 0; }
    .header .nav__list {
      width: 740px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      list-style: none; }
    .header .nav__link {
      font-weight: bold;
      font-size: 13px;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 3px; }
      .header .nav__link:hover {
        color: #ff9c8e; }
        .header .nav__link:hover:focus {
          outline: none; }
      .header .nav__link:focus {
        outline: 2px dashed #ff9c8e; }
      .header .nav__link--active {
        position: relative; }
        .header .nav__link--active::after {
          content: "";
          width: 0;
          position: absolute;
          height: 2px;
          top: 27px;
          left: 0;
          border-radius: 4px;
          background-color: #ff9c8e;
          -webkit-transition: width 0.1s cubic-bezier(0, 0, 1, 1);
          transition: width 0.1s cubic-bezier(0, 0, 1, 1); }
        .header .nav__link--active:hover::after {
          width: 100%;
          -webkit-transition: width 0.1s cubic-bezier(0, 0, 1, 1) 100ms;
          transition: width 0.1s cubic-bezier(0, 0, 1, 1) 100ms; }
    .header .nav__mobile-burger {
      display: none;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 16px;
      top: 46px;
      cursor: pointer; }
      .header .nav__mobile-burger .bar {
        width: 30px;
        height: 1px;
        background-color: #fff; }
      .header .nav__mobile-burger .one {
        top: 10px;
        position: absolute;
        -webkit-transition: top 0.3s ease 0.6s;
        transition: top 0.3s ease 0.6s;
        -webkit-animation: turnone 1s 0s;
                animation: turnone 1s 0s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
      .header .nav__mobile-burger .two {
        position: absolute;
        top: 20px;
        -webkit-transition: 0.3s ease 0.6s;
        transition: 0.3s ease 0.6s;
        -webkit-animation: fade 2s;
                animation: fade 2s; }
      .header .nav__mobile-burger .three {
        top: 30px;
        position: absolute;
        -webkit-transition: top 0.3s ease 0.6s;
        transition: top 0.3s ease 0.6s;
        -webkit-animation: turnthree 1s 0s;
                animation: turnthree 1s 0s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
      .header .nav__mobile-burger--active .one {
        -webkit-animation: turn 1s 0.3s;
                animation: turn 1s 0.3s; }
      .header .nav__mobile-burger--active .two {
        opacity: 0;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease; }
      .header .nav__mobile-burger--active .three {
        -webkit-animation: turntwo 1s 0.3s;
                animation: turntwo 1s 0.3s; }
      .header .nav__mobile-burger--active .one,
      .header .nav__mobile-burger--active .three {
        top: 20px;
        -webkit-transition: top 0.3s ease 0.1s;
        transition: top 0.3s ease 0.1s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
  .header .nav-mobile {
    display: none; }
    .header .nav-mobile--anim {
      -webkit-animation: navmobile 1s 0s;
              animation: navmobile 1s 0s; }
    .header .nav-mobile--flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .header__info {
    width: 490px;
    margin-top: 168px;
    -webkit-animation: appearance-header 1s ease-in-out forwards;
            animation: appearance-header 1s ease-in-out forwards; }
  .header__info--dis {
    display: none; }
  .header__title {
    color: #fff;
    font-size: 64px;
    font-weight: inherit;
    line-height: 68px;
    letter-spacing: -2px; }
  .header__text {
    font: 18px "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 150%;
    color: #fff;
    margin: 32px 0 83px; }
  .header__button {
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    padding: 12px 65px;
    border-radius: 64px;
    border: 0;
    background-color: #ff9c8e;
    color: #fff; }
    .header__button:hover {
      color: #ff9c8e;
      background-color: #fff;
      cursor: pointer;
      -webkit-transition: color 200ms ease-in-out;
      transition: color 200ms ease-in-out; }
      .header__button:hover:focus {
        outline: none; }
    .header__button:focus {
      outline: 2px dashed #ff9c8e; }
  .header .slider {
    width: 43vw;
    height: 82vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 200px;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in; }
    .header .slider__block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 350px;
      margin: 0 0 50px 50px; }
    .header .slider__button {
      width: 32px;
      height: 32px;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: 0; }
      .header .slider__button:focus {
        outline: 2px dashed #ff9c8e; }
      .header .slider__button--left {
        background-image: url(../images/slider/arrow-left.svg);
        margin-right: 8px; }
      .header .slider__button--right {
        background-image: url(../images/slider/arrow-right.svg); }
      .header .slider__button:hover {
        opacity: 0.5;
        cursor: pointer; }
    .header .slider__info {
      width: 240px; }
    .header .slider__title {
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 8px; }
    .header .slider__text {
      font: normal 14px "Open Sans", sans-serif;
      color: #fff;
      line-height: 140%; }
  .header .slider1 {
    background-image: url(../images/slider/slider1.png); }
  .header .slider2 {
    background-image: url(../images/slider/slider2.png); }
  .header .slider3 {
    background-image: url(../images/slider/slider3.png); }

@media (max-width: 1200px) {
  .header__info {
    margin-left: 35px; } }

@media (max-width: 1024px) {
  .header__info {
    margin: 165px 0 0 50px; }
  .header .nav__list {
    width: 640px; }
  .header .slider {
    width: 46vw;
    height: 45vh; } }

@media (max-width: 800px) {
  .header .nav__list {
    width: 530px; }
  .header .slider__block {
    margin: 0 0 20px 40px; }
  .header .slider__buttons {
    width: 125px; }
  .header .slider__info {
    width: 100%; } }

@media (max-width: 700px) {
  .header__info {
    width: 100%;
    margin: 95px auto;
    text-align: center; }
  .header .nav__link {
    display: none; }
  .header .nav__logo-mobile, .header .nav__mobile-burger {
    display: block; }
  .header .nav-mobile__list {
    margin: auto;
    list-style-type: none;
    height: 545px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .nav-mobile__link {
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 24px; }
    .header .nav-mobile__link:hover {
      color: #ff9c8e; }
      .header .nav-mobile__link:hover:focus {
        outline: none; }
  .header .slider {
    display: none; } }

@media (max-width: 320px) {
  .header {
    border-bottom-left-radius: 110px; } }

@media (max-height: 450px) {
  .header {
    height: 700px; } }

.about {
  margin-top: 148px; }
  .about__block {
    max-width: 754px;
    margin: auto; }
  .about__title {
    font-size: 32px;
    font-weight: inherit;
    line-height: 150%;
    color: #253757; }
  .about__text {
    font: 24px "Open Sans", sans-serif;
    font-weight: inherit;
    line-height: 150%;
    color: #6c788b;
    margin-top: 16px; }

@media (max-width: 830px) {
  .about__block {
    padding: 0 40px; } }

@media (max-width: 550px) {
  .about {
    margin-top: 95px; }
    .about__text {
      font-size: 18px; } }

.expertise {
  margin-top: 148px;
  background-color: #fff;
  padding: 130px 0 140px; }
  .expertise__block {
    margin: auto;
    max-width: 1102px;
    text-align: center; }
  .expertise__title {
    font-weight: inherit;
    font-size: 52px;
    color: #253757; }
  .expertise__article-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 64px; }
  .expertise__article {
    width: 264px; }
  .expertise__photo {
    border-radius: 20%; }
    .expertise__photo:hover {
      -webkit-box-shadow: 4px 3px 13px #253757;
              box-shadow: 4px 3px 13px #253757; }
  .expertise__article-title {
    font-weight: inherit;
    font-size: 20px;
    color: #253757;
    margin: 40px 0 16px; }
  .expertise__text {
    font: 14px "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 150%;
    color: #6c788b; }

@media (max-width: 870px) {
  .expertise__article-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .expertise__article:not(:last-of-type) {
    margin-bottom: 60px; } }

@media (max-width: 550px) {
  .expertise {
    margin-top: 55px; }
    .expertise__title {
      font-size: 45px; } }

.services {
  margin-top: 148px; }
  .services__wrapper {
    max-width: 1146px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .services__article {
    width: 362px;
    margin-top: 102px; }
  .services__caption {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .services__title {
    font-size: 32px;
    font-weight: inherit;
    line-height: 130%;
    color: #253757;
    margin: 16px 0 24px; }
  .services__text {
    font: 14px "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 150%;
    color: #6c788b; }
  .services__card-wrapper {
    max-width: 558px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .services__card-block {
    width: 264px;
    z-index: 10; }
    .services__card-block--top {
      margin-top: 132px; }
  .services__card-block:not(:last-of-type) {
    margin-right: 30px; }
  .services__card {
    height: 264px;
    background-color: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    padding: 32px 0 0 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .services__card-num {
      display: block;
      width: 46px;
      height: 24px;
      border-radius: 23px;
      font-size: 13px;
      font-weight: 600;
      text-align: center;
      line-height: 25px; }
      .services__card-num--blue {
        background-color: rgba(86, 204, 242, 0.1);
        color: #56ccf2; }
      .services__card-num--green {
        background-color: rgba(21, 216, 80, 0.1);
        color: #15d850; }
      .services__card-num--orange {
        background-color: rgba(252, 201, 29, 0.1);
        color: #fcc91d; }
      .services__card-num--red {
        background-color: rgba(243, 99, 99, 0.1);
        color: #f36363; }
    .services__card-text {
      margin: 26px 0 32px;
      list-style-type: none;
      font: 13px "Open Sans", sans-serif;
      font-weight: inherit;
      line-height: 150%;
      color: #6c788b; }
    .services__card-button {
      width: 40px;
      height: 40px;
      border: 0;
      border-radius: 50%;
      background-image: url("../images/services/arrow-right.png");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .services__card-button--blue {
        background-color: #56ccf2; }
      .services__card-button--green {
        background-color: #15d850; }
      .services__card-button--orange {
        background-color: #fcc91d; }
      .services__card-button--red {
        background-color: #f36363; }
      .services__card-button:hover {
        cursor: pointer;
        -webkit-transform: scale(1.2, 1.2);
                transform: scale(1.2, 1.2); }
    .services__card-title {
      display: inline-block;
      font-size: 15px;
      font-weight: inherit;
      color: #334563;
      -webkit-transform: translate(16px, -14px);
              transform: translate(16px, -14px); }
  .services__card:not(:nth-of-type(odd)) {
    margin-top: 30px; }

@media (max-width: 1220px) {
  .services__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media (max-width: 1000px) {
  .services {
    margin-top: 40px; }
    .services__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .services__article {
      width: 70%;
      margin: 0 0 0 50px; }
    .services__card-wrapper {
      margin: 50px auto; } }

@media (max-width: 600px) {
  .services__card-block {
    margin: auto; }
  .services__card-block:not(:last-of-type) {
    margin-right: auto;
    margin-bottom: 31px; }
  .services__article {
    width: 90%;
    margin: 0 0 0 20px; }
  .services__card-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.approach {
  background-color: #ff9c8e;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  padding: 204px 0 204px 204px;
  margin: -90px 0 0 121px;
  position: relative; }
  .approach__article {
    width: 362px; }
  .approach__caption {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff; }
  .approach__title {
    font-size: 32px;
    font-weight: inherit;
    line-height: 150%;
    color: #fff;
    margin: 16px 0 32px; }
  .approach__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .approach__block:not(:last-of-type) {
    margin-bottom: 64px; }
  .approach__icon {
    width: 64px;
    height: 64px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .approach__text {
    width: 264px;
    font: 15px "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 150%;
    color: #fff; }
  .approach__photo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 42vw;
    height: 680px; }

@media (min-width: 2076px) {
  .approach {
    width: 59%;
    float: right; }
    .approach__photo {
      width: 690px; } }

@media (max-width: 1480px) {
  .approach {
    padding-left: 100px; } }

@media (max-width: 1100px) {
  .approach {
    padding-left: 40px; }
    .approach__photo {
      height: 50%; } }

@media (max-width: 950px) {
  .approach {
    padding-top: 150px; }
    .approach__article {
      width: 100%; }
    .approach__text {
      width: 80%; }
    .approach__photo {
      display: none; } }

@media (max-width: 560px) {
  .approach {
    margin-left: 0;
    padding-left: 15px;
    padding-bottom: 120px; }
    .approach__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .approach__text {
      margin-top: 15px; } }

.feedback {
  margin-top: 148px; }
  .feedback__wrapper {
    max-width: 1146px;
    margin: auto; }
  .feedback__caption {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .feedback__title {
    margin: 16px 0 85px;
    font-size: 32px;
    font-weight: inherit;
    line-height: 150%;
    color: #253757; }
  .feedback__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .feedback__section-photo {
      position: relative;
      border-radius: 50%;
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
    .feedback__section-article {
      width: 314px;
      background: #fff;
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
      border-radius: 24px;
      padding: 87px 32px 32px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      text-align: center;
      position: relative; }
      .feedback__section-article:hover .feedback__section-photo {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease;
        -webkit-box-shadow: 4px 3px 13px #253757;
                box-shadow: 4px 3px 13px #253757; }
    .feedback__section-rect {
      width: 139px;
      height: 56px;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
      position: absolute; }
      .feedback__section-rect--blue {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
      .feedback__section-rect--yellow {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
      .feedback__section-rect--red {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
      .feedback__section-rect--right {
        position: absolute;
        right: 30px;
        top: 175px; }
    .feedback__section-quote {
      display: block;
      margin: 82px auto 11px; }
    .feedback__section-text {
      font: 13px "Open Sans", sans-serif;
      font-weight: inherit;
      line-height: 150%;
      color: #6c788b; }
    .feedback__section-name {
      font: 13px "Open Sans", sans-serif;
      font-weight: inherit;
      line-height: 150%;
      color: #253757;
      margin: 16px 0 4px; }
    .feedback__section-caption {
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7; }

@media (max-width: 1200px) {
  .feedback__wrapper {
    margin: 0 30px; }
  .feedback__section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .feedback__section-article:not(:last-of-type) {
      margin-right: 13px; } }

@media (max-width: 1043px) {
  .feedback {
    margin-top: 90px; }
    .feedback__section-article {
      margin-bottom: 45px; } }

@media (max-width: 999px) {
  .feedback__section-article:not(:last-of-type) {
    margin-right: 0; } }

.vision {
  margin-top: 168px;
  background: #fff;
  padding: 200px 0;
  position: relative; }
  .vision__wrapper {
    max-width: 754px;
    margin: auto;
    text-align: center; }
  .vision__title {
    font-weight: inherit;
    font-size: 52px;
    color: #253757; }
  .vision__text {
    font: 24px "Open Sans", sans-serif;
    font-weight: inherit;
    line-height: 150%;
    color: #6c788b;
    margin: 24px 0 64px; }
  .vision__title, .vision__text {
    z-index: 10;
    position: relative; }
  .vision__button {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    padding: 15px 90px;
    border-radius: 64px;
    border: 0;
    background-color: #ff9c8e;
    color: #fff;
    z-index: 10; }
    .vision__button:hover {
      color: #ff9c8e;
      background-color: #fff;
      cursor: pointer;
      -webkit-transition: color 200ms ease-in-out;
      transition: color 200ms ease-in-out; }
      .vision__button:hover:focus {
        outline: none; }
    .vision__button:focus {
      outline: 2px dashed #ff9c8e; }
    .vision__button:hover {
      border: 2px solid #f2f9ff; }
  .vision__rect-small {
    position: absolute;
    width: 50px;
    height: 18px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 50px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .vision__rect-small--yellow {
      top: 11%;
      border: 2px solid #fde48b; }
    .vision__rect-small--yellowb {
      border: 4px solid #fde48b;
      bottom: 25%;
      left: 32%; }
    .vision__rect-small--purpleb {
      border: 4px solid #de83fd;
      top: 20%;
      right: 8%; }
    .vision__rect-small--purple {
      border: 2px solid #de83fd;
      bottom: 16%;
      right: 32%; }
    .vision__rect-small--blue {
      border: 4px solid #ade6f8;
      bottom: 35%;
      left: 5%; }
  .vision__rect-medium {
    position: absolute;
    width: 92px;
    height: 37px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 50px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .vision__rect-medium--pink {
      border: 2px solid #f8acac;
      top: 13%;
      left: 12%; }
    .vision__rect-medium--purpleb {
      border: 4px solid #de83fd;
      bottom: 13%;
      left: 10%; }
    .vision__rect-medium--yellow {
      border: 2px solid #fde48b;
      top: 45%;
      right: 5%; }
    .vision__rect-medium--pinkb {
      border: 4px solid #f8acac;
      top: 60%;
      right: 20%; }
  .vision__rect-large {
    position: absolute;
    width: 145px;
    height: 56px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 50px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .vision__rect-large--greenb {
      border: 5px solid #87eba5;
      top: 25%;
      right: 15%; }
    .vision__rect-large--blue {
      border: 3px solid #ade6f8;
      bottom: 20%;
      right: 10%; }
    .vision__rect-large--green {
      border: 4px solid #87eba5;
      top: 53%;
      left: 17%; }

@media (max-width: 860px) {
  .vision__rect-large {
    width: 90px;
    height: 35px; }
  .vision__rect-medium {
    width: 60px;
    height: 25px; }
  .vision__rect-small {
    width: 35px;
    height: 15px; } }

@media (max-width: 550px) {
  .vision {
    padding: 120px 0;
    margin-top: 50px; }
    .vision__rect-medium--pinkb, .vision__rect-large--greenb, .vision__rect-large--green, .vision__rect-small--yellowb, .vision__rect-small--purple {
      display: none; }
    .vision__rect-large--blue {
      right: 1%; } }

.footer {
  background-color: #fff; }
  .footer__wrapper {
    background-color: #008aff;
    border-top-right-radius: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 180px 270px 80px 185px; }
  .footer__form {
    width: 460px; }
  .footer__title {
    font-size: 32px;
    font-weight: inherit;
    line-height: 150%;
    color: #fff;
    margin-bottom: 16px; }
  .footer__input {
    width: 460px;
    height: 40px;
    background: #008aff;
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    margin: 24px 0;
    border: 0;
    border-bottom: 1px solid white;
    line-height: 22px; }
    .footer__input::-webkit-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer__input::-moz-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer__input:-ms-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer__input::-ms-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer__input::placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer__input:focus {
      outline: 0;
      border-bottom: 2px solid white;
      color: #fff; }
  .footer__button {
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    padding: 15px 90px;
    border-radius: 64px;
    border: 0;
    background-color: #ff9c8e;
    color: #fff;
    margin-top: 50px; }
    .footer__button:hover {
      color: #ff9c8e;
      background-color: #fff;
      cursor: pointer;
      -webkit-transition: color 200ms ease-in-out;
      transition: color 200ms ease-in-out; }
      .footer__button:hover:focus {
        outline: none; }
    .footer__button:focus {
      outline: 2px dashed #ff9c8e; }
  .footer__caption {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    margin: 50px 0 8px;
    opacity: 0.5; }
  .footer__address {
    font: 24px "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 150%;
    color: #fff; }
  .footer__svg {
    text-decoration: none; }
  .footer__icon {
    margin-right: 45px; }
    .footer__icon:hover path {
      fill: #d2ebff; }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 180px 35px 185px;
    background: #008aff; }
  .footer__item {
    display: inline-block; }
  .footer__item:not(:last-of-type) {
    padding-right: 64px; }
  .footer__list {
    list-style-type: none; }
  .footer__link {
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px; }
    .footer__link:hover {
      color: #ff9c8e; }
      .footer__link:hover:focus {
        outline: none; }
    .footer__link:focus {
      outline: 2px dashed #ff9c8e; }

@media (min-width: 2000px) {
  .footer__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 180px 20% 5%; }
  .footer__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20% 35px; } }

@media (min-width: 2600px) {
  .footer__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 180px 30% 5%; }
  .footer__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 30% 35px; } }

@media (max-width: 1400px) {
  .footer__wrapper {
    padding: 180px 10% 138px; } }

@media (max-width: 1135px) {
  .footer__wrapper {
    padding: 180px 3% 138px; }
  .footer__nav {
    padding: 60px 3% 35px; } }

@media (max-width: 940px) {
  .footer__wrapper {
    padding: 10% 5% 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__contact {
    margin-top: 70px; }
  .footer__form, .footer__input {
    width: 100%; }
  .footer__caption {
    margin: 25px 0 8px; }
  .footer__item:not(:last-of-type) {
    padding-right: 35px; } }

@media (max-width: 700px) {
  .footer__nav {
    display: none; } }

@media (max-width: 450px) {
  .footer__wrapper {
    border-top-right-radius: 108px; } }

/*# sourceMappingURL=main.css.map */
